<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <title>@ViewData["Title"] - AdminProj</title>
  @await Html.PartialAsync("Partials/_StylesPartial")
  @RenderSection("Styles", required: false)
</head>
<body class="theme-teal">
  <!-- Page Loader -->
  @await Html.PartialAsync("Partials/_PageLoaderWrapperPartial")
  <!-- #END# Page Loader -->
  <!-- Overlay For Sidebars -->
  <div class="overlay"></div>
  <!-- #END# Overlay For Sidebars -->
  <!-- Search Bar -->
  @await Html.PartialAsync("Partials/_SearchBarPartial")
  <!-- #END# Search Bar -->
  <!-- Top Bar -->
  @await Html.PartialAsync("Partials/_TopbarPartial")
  <!-- #Top Bar -->
  <section>
    <!-- Left Sidebar -->
    <aside id="leftsidebar" class="sidebar">
      <!-- User Info -->
      @await Html.PartialAsync("Partials/_UserInfoPartial")
      <!-- #User Info -->
      <!-- Menu -->
      @await Html.PartialAsync("Partials/_MenuPartial")
      <!-- #Menu -->
      <!-- Footer -->
      @await Html.PartialAsync("Partials/_FooterPartial")
      <!-- #Footer -->
    </aside>
    <!-- #END# Left Sidebar -->
  </section>

  <section class="content">
    <div class="container-fluid">
      @if(!String.IsNullOrEmpty(ViewData["Title"].ToString())){
        <div class="jumbotron">
          <h3>@ViewData["Title"]</h3>
          <p>@ViewData["Description"]</p>        
          @RenderSection("jumbotron", required: false)        
        </div>  
      }
      @RenderBody()
    </div>
  </section>
  @await Html.PartialAsync("Partials/_ScriptsPartial")
  @RenderSection("Scripts", required: false)
</body>
</html>
